nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

nav li {
  float: left;
}

 nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
nav li a:hover {
  background-color: #73AD21 ;
}

 ul {
  list-style-type: none;
}
li{
  text-align: center;
}


.groups li {
  position:relative;
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  float : center;
  border-radius: 50%; /* may require vendor prefixes */
  background: black;
  transform: translatex(400%) ;

}
  body{
    background-image: url("./background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align:center;
}
 
#gr{
  border: #73AD21 3px solid;
  float: center;
}
#ic{
  border: #c4b811 3px solid;
 /* padding: left 30px ;*/
}
#rg{
  border: blue  3px solid;

}
#de{
  border: #d40c0c 3px solid;

}
#pe{
  border: #fa66b8 3px solid;

}
